# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
ENV/
.venv/

# Python Packaging
build/
dist/
*.egg-info/
.eggs/

# =========================
# ML / Data Files
# =========================
*.h5
*.hdf5
*.pt
*.pth
*.pkl
*.joblib
*.onnx
models/
checkpoints/

# Large datasets
data/
datasets/
*.csv
*.tsv

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Streamlit
# =========================
.streamlit/secrets.toml

# =========================
# Logs & temp files
# =========================
*.log
logs/
tmp/
temp/

# =========================
# Environment Variables (VERY IMPORTANT)
# =========================
.env
.env.*
*.env

# allow example env
!.env.example
inter_*
# =========================
# Node (if frontend exists)
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Build outputs
dist/
build/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# =========================
# Misc
# =========================
*.sqlite3
*.db